body{
    background-color: antiquewhite;
    font-family:'Trebuchet MS', Arial, sans-serif, monospace ;
}
.app{
    margin:50px auto;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width: 440px;
    border:5px solid green;
}

h1{
    margin:0 auto 0;
    font-size: 50px;
}

.value{
    text-align: center;
    font-size: 30px;
    line-height: 60px;
}

.increase-value,.reset-value,.close-app{
    width: 300px;
    height: 75px;
    color: black;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
}

.increase-value{
    background-color:forestgreen;
}

.increase-value:hover{
    background-color: darkgreen;
}

.reset-value{
    background-color: yellow;
}

.reset-value:hover{
    color:black;
    background-color:gold;
}

.close-app{
background-color:mediumpurple;
color: white;
}

.close-app:hover{
    background-color:darkviolet;
    color: white;
    }

    @media (max-width: 460px) {

        h1{
            margin:10px auto;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }
        .app{
            margin:15px;
            padding:10%;
            width: 90%;
            gap:30px;
        }

        .increase-value,.reset-value,.close-app{
            width: 80%;
            height: 60px;
        }

        .value{
            text-align: center;
            font-size: 30px;
            line-height: 35px;
        }
    }